USE [master]
GO
/****** Object:  Database [BreweryDB]    Script Date: 7/13/2017 9:25:28 PM ******/
CREATE DATABASE [BreweryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Brewery', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS14\MSSQL\DATA\Brewery.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Brewery_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS14\MSSQL\DATA\Brewery_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BreweryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BreweryDB]
GO
/****** Object:  Table [dbo].[Beer]    Script Date: 7/13/2017 9:25:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[AlcoholPercentage] [decimal](6, 3) NOT NULL,
	[IBU] [decimal](6, 3) NOT NULL,
	[Quantity] [int] NULL,
	[BeerTypeId] [int] NOT NULL,
	[BreweryId] [int] NULL,
 CONSTRAINT [PK_Beer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BeerType]    Script Date: 7/13/2017 9:25:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BeerType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
 CONSTRAINT [PK_BeerType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Brewery]    Script Date: 7/13/2017 9:25:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brewery](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[PIN] [nvarchar](256) NULL,
	[State] [nvarchar](128) NULL,
 CONSTRAINT [PK_Brewery] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Beer]  WITH CHECK ADD  CONSTRAINT [FK_Beer_BeerType] FOREIGN KEY([Id])
REFERENCES [dbo].[BeerType] ([Id])
GO
ALTER TABLE [dbo].[Beer] CHECK CONSTRAINT [FK_Beer_BeerType]
GO
ALTER TABLE [dbo].[Beer]  WITH CHECK ADD  CONSTRAINT [FK_Beer_Brewery] FOREIGN KEY([Id])
REFERENCES [dbo].[Brewery] ([Id])
GO
ALTER TABLE [dbo].[Beer] CHECK CONSTRAINT [FK_Beer_Brewery]
GO
USE [master]
GO
