USE [master]
GO
/****** Object:  Database [BreweryDB]    Script Date: 7/13/2017 9:25:55 PM ******/
CREATE DATABASE [BreweryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Brewery', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS14\MSSQL\DATA\Brewery.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Brewery_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS14\MSSQL\DATA\Brewery_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BreweryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BreweryDB]
GO
/****** Object:  Table [dbo].[Beer]    Script Date: 7/13/2017 9:25:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[AlcoholPercentage] [decimal](6, 3) NOT NULL,
	[IBU] [decimal](6, 3) NOT NULL,
	[Quantity] [int] NULL,
	[BeerTypeId] [int] NOT NULL,
	[BreweryId] [int] NULL,
 CONSTRAINT [PK_Beer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BeerType]    Script Date: 7/13/2017 9:25:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BeerType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
 CONSTRAINT [PK_BeerType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Brewery]    Script Date: 7/13/2017 9:25:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brewery](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[PIN] [nvarchar](256) NULL,
	[State] [nvarchar](128) NULL,
 CONSTRAINT [PK_Brewery] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Beer] ON 

INSERT [dbo].[Beer] ([Id], [Name], [AlcoholPercentage], [IBU], [Quantity], [BeerTypeId], [BreweryId]) VALUES (1, N'Jelen', CAST(6.500 AS Decimal(6, 3)), CAST(22.000 AS Decimal(6, 3)), 128, 1, 1)
INSERT [dbo].[Beer] ([Id], [Name], [AlcoholPercentage], [IBU], [Quantity], [BeerTypeId], [BreweryId]) VALUES (2, N'Heineken', CAST(5.800 AS Decimal(6, 3)), CAST(23.000 AS Decimal(6, 3)), 50, 1, 2)
INSERT [dbo].[Beer] ([Id], [Name], [AlcoholPercentage], [IBU], [Quantity], [BeerTypeId], [BreweryId]) VALUES (3, N'Lav', CAST(5.700 AS Decimal(6, 3)), CAST(21.000 AS Decimal(6, 3)), 236, 1, 3)
SET IDENTITY_INSERT [dbo].[Beer] OFF
SET IDENTITY_INSERT [dbo].[BeerType] ON 

INSERT [dbo].[BeerType] ([Id], [Name]) VALUES (1, N'Lager')
INSERT [dbo].[BeerType] ([Id], [Name]) VALUES (2, N'Tamno pivo')
INSERT [dbo].[BeerType] ([Id], [Name]) VALUES (3, N'Ale')
SET IDENTITY_INSERT [dbo].[BeerType] OFF
SET IDENTITY_INSERT [dbo].[Brewery] ON 

INSERT [dbo].[Brewery] ([Id], [Name], [PIN], [State]) VALUES (1, N'Apatinska pivara', N'462745-67856398-4564576', N'Srbija')
INSERT [dbo].[Brewery] ([Id], [Name], [PIN], [State]) VALUES (2, N'Heineken brewery', N'9557-474347-45892-2245', N'Netherlands')
INSERT [dbo].[Brewery] ([Id], [Name], [PIN], [State]) VALUES (3, N'Pivara Čelarevo', N'6748-4774-3554758-4253', N'Srbija')
SET IDENTITY_INSERT [dbo].[Brewery] OFF
ALTER TABLE [dbo].[Beer]  WITH CHECK ADD  CONSTRAINT [FK_Beer_BeerType] FOREIGN KEY([Id])
REFERENCES [dbo].[BeerType] ([Id])
GO
ALTER TABLE [dbo].[Beer] CHECK CONSTRAINT [FK_Beer_BeerType]
GO
ALTER TABLE [dbo].[Beer]  WITH CHECK ADD  CONSTRAINT [FK_Beer_Brewery] FOREIGN KEY([Id])
REFERENCES [dbo].[Brewery] ([Id])
GO
ALTER TABLE [dbo].[Beer] CHECK CONSTRAINT [FK_Beer_Brewery]
GO
USE [master]
GO
